<ol class="list-group list-group-numbered p-2">
<p class="h4">Diretivas do projeto</p>
  <li class="list-group-item">
    Configure um novo projeto diferente do que criamos nas aulas de introdução.
  </li>
  <li class="list-group-item">
    Crie uma página de Listagem de Produtos buscando os dados da API que vocês
    criaram nas aulas de Spring.
    <ul class="list-group">
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Você precisa exibir na listagem de produtos em uma tabela os campos:
        Nome, Código de Barras, Preço e uma coluna de Ações.
      </li>
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Necessário ter dois botões na coluna de ações: Editar e Excluir.
      </li>
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Editar: Encaminha para a página de edição
      </li>
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Excluir: Exibe uma confirmação, caso o usuário confirme, realizar a
        remoção.
      </li>
    </ul>
  </li>
  <li class="list-group-item">
    Crie uma página de Cadastro de Produtos com os campos:
    <ul class="list-group">
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Nome do Produto (string)
      </li>
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Código de Barras (string)
      </li>
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Preço (number)
      </li>
    </ul>
  </li>
  <li class="list-group-item">
    Crie uma página de Edição de Produtos com os campos:
    <ul class="list-group">
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Nome do Produto (string)
      </li>
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Código de Barras (string)
      </li>
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Preço (number)
      </li>
    </ul>
  </li>
  <li class="list-group-item">
    Seguir as seguintes diretrizes:
    <ul class="list-group">
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Objeto de Produto tipado com interface/type (sem uso de any)
      </li>
      <li class="list-group-item">
        <input class="form-check-input bg-success" type="checkbox" style="pointer-events: none" checked/>
        Validações no cadastro/edição do tamanho do campo, obrigatório, tamanho
        do campo, tipo número (campo Preço)
      </li>
    </ul>
  </li>
</ol>
