<form [formGroup]="produtoForm" (ngSubmit)="enviar()">
  <div class="container">
    <div class="row justify-content-center p-2">
      <div class="col-9">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome do produto: </label>
          <input
            id="nome"
            type="text"
            class="form-control"
            formControlName="nome"
            [ngClass]="{'is-invalid': !!produtoForm.value['nome'] && produtoForm.controls.nome.errors}"
          />
          <div class="invalid-feedback">campo obrigatório, máximo de 100 caracteres</div>
        </div>
      </div>
      <div class="col-9">
        <div class="mb-3">
          <label for="codigoBarras" class="form-label">código de barras: </label>
          <input
            id="codigoBarras"
            type="text"
            class="form-control"
            formControlName="codigoBarras"
            [ngClass]="{'is-invalid':!!produtoForm.value['codigoBarras']  && produtoForm.controls.codigoBarras.errors}"
          />
          <div class="invalid-feedback">campo obrigatório, máximo de 100 caracteres</div>
        </div>
      </div>
      <div class="col-9">
        <div class="mb-3">
          <label for="preco" class="form-label">Preço: </label>
          <input
            id="preco"
            type="number"
            class="form-control"
            formControlName="preco"
            [ngClass]="{'is-invalid':produtoForm.controls.preco.errors}"
          />
          <div class="invalid-feedback">valor mínimo: 0.01</div>
        </div>
      </div>
      <div class="col-9">
        <a class="btn btn-secondary me-1" routerLink="/">Voltar</a>
        <button type="submit" class="btn btn-primary bg-success" [disabled]="!produtoForm.valid">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</form>
